@import url("/assets/css-modules.css/navbar.css");
@import url("/assets/css-modules.css/bodydefaults.css");
@import url("/assets/css-modules.css/footer.css");





#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 60px;
}

.blog-post {
    background-color: rgb(69, 69, 69);
    padding: 20px;
    margin: 20px 0;
    width: 80%;
    border-radius: 5px;
}

#blog-post-content a:hover, a:link, a:visited{
    text-decoration: none;
    color: red;
}

.author {
    font-size: 14px;
    font-style: italic;
}



